<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Font CSS -->
    <link rel="stylesheet" href="stylesheet.css" type="text/css" charset="utf-8" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- Angular library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <title>Runes Map</title>

</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Runes Map</a>
            </div>
        </div>
    </nav>


    <div ng-app="rune" ng-controller="runeCtrl" class="container">

        <div class="row">
            <div class="col">
                <canvas id="cnvs" width="400px" height="200px"></canvas>
            </div>
            <div class="col">
                <h1 class="destRune runefont_Big">{{sourceRune}}</h1>
                <h1 class="destRune runefont_Big">{{destRunes}}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col" ng-repeat="x in runemap1">
                <H5 ng-style="textStyle({{x.isSuper}})">{{ x.display }}</H5>
                <button type="button" class="btn btn-info runefont_Big" ng-click="setDestRunes(x.name)">{{ x.name }}</button>
                <button type="button" class="btn btn-info runefont_Big" ng-click="setDestRunes(x.name0)" ng-hide="{{x.isSuper}}">{{ x.name0 }}</button>
            </div>
        </div>

        <div class="row">
            <div class="col" ng-repeat="x in runemap2">
                <H5 ng-style="textStyle({{x.isSuper}})">{{ x.display }}</H5>
                <button type="button" class="btn btn-info runefont_Big" ng-click="setDestRunes(x.name)">{{ x.name }}</button>
                <button type="button" class="btn btn-info runefont_Big" ng-click="setDestRunes(x.name0)" ng-hide="{{x.isSuper}}">{{ x.name0 }}</button>
            </div>
        </div>

        <div class="row">
            <div class="col" ng-repeat="x in runemap3">
                <H5 ng-style="textStyle({{x.isSuper}})">{{ x.display }}</H5>
                <button type="button" class="btn btn-info runefont_Big" ng-click="setDestRunes(x.name)">{{ x.name }}</button>
                <button type="button" class="btn btn-info runefont_Big" ng-click="setDestRunes(x.name0)" ng-hide="{{x.isSuper}}">{{ x.name0 }}</button>
            </div>
        </div>

        <p>Name :
            <input type="text" ng-model="name" placeholder="Enter name here">
        </p>
        <h1 class="runefont">Hello {{name}}</h1>

        <div ng-repeat="x in runemap">
            <button type="button" class="btn btn-success runefont_Big">{{ x.name }}</button>
        </div>

    </div>



    <script>

        var app = angular.module('rune', []);

        app.controller('runeCtrl', function ($scope) {

            var canvas = document.getElementById('cnvs');
            var ctx = canvas.getContext('2d');

            $scope.drawGrid = function () {
                ctx.clearRect(0, 0, 400, 200);
                ctx.beginPath();
                ctx.strokeStyle = "grey";
                ctx.lineWidth = 4; // толщина линии

                ctx.moveTo(0, 2); //передвигаем перо
                ctx.lineTo(300, 2); // Гебо
                ctx.stroke();

                ctx.moveTo(0, 100); //передвигаем перо
                ctx.lineTo(300, 100); // Джера
                ctx.stroke();

                ctx.moveTo(0, 198); //передвигаем перо
                ctx.lineTo(300, 198); // Хагаль
                ctx.stroke();

                ctx.moveTo(0, 0); //передвигаем перо
                ctx.lineTo(100, 200); // Наутиз
                ctx.lineTo(200, 0); // Эйваз
                ctx.lineTo(300, 200); // Иса
                ctx.stroke();

                ctx.moveTo(0, 200); //передвигаем перо
                ctx.lineTo(100, 0); // Дагаз 
                ctx.lineTo(200, 200); // Сол
                ctx.lineTo(300, 0); // Ингуз
                ctx.stroke();

            };

            $scope.runemap1 = [
                {
                    name: "f", name0: "F", display: "Феху (f)",
                    res: "g i s", res0: "h n s"
                },
                {
                    name: "u", name0: "U", display: "Уруз (u)",
                    res: "g q h", res0: "g d h"
                },
                {
                    name: "x", name0: "X", display: "Терс (x)",
                    res: "j q s", res0: "j d s"
                },
                {
                    name: "a", name0: "A", display: "Ансуз (a)",
                    res: "g q y", res0: "h d y"
                },
                {
                    name: "r", name0: "R", display: "Райдо (r)",
                    res: "j q s y", res0: "j d s y"
                },
                {
                    name: "c", name0: "C", display: "Кано (c)",
                    res: "i y", res0: "n y"
                },
                {
                    name: "g", name0: "g", display: "Гебо (g)",
                    res: "s y", res0: "s y", isSuper: "true"
                },
                {
                    name: "v", name0: "V", display: "Вуньо (v)",
                    res: "g q i", res0: "h d n"
                }
            ];

            $scope.runemap2 = [
                {
                    name: "h", name0: "h", display: "Хагаль (h)",
                    res: "g y h", res0: "g y h", isSuper: "true"
                },
                {
                    name: "n", name0: "n", display: "Наутиз (n)",
                    res: "j y", res0: "j y", isSuper: "true"
                },
                {
                    name: "i", name0: "i", display: "Иса (i)",
                    res: "j", res0: "j", isSuper: "true"
                },
                {
                    name: "j", name0: "j", display: "Джера (j)",
                    res: "i y n", res0: "i y n", isSuper: "true"
                },
                {
                    name: "y", name0: "y", display: "Эйваз (y)",
                    res: "j q d", res0: "j q d", isSuper: "true"
                },
                {
                    // Мой вариант
                    // name: "p", name0: "P", display: "Перт (p)",
                    // res: "g q i n d", res0: "h q i n d"

                    // Математики
                    name: "p", name0: "P", display: "Перт (p)",
                    res: "q g s i y", res0: "d s y h n"
                },
                {
                    name: "z", name0: "Z", display: "Альгиз (z)",
                    res: "j y s", res0: "j y s"
                },
                {
                    name: "s", name0: "s", display: "Сол (s)",
                    res: "g s h", res0: "g s h", isSuper: "true"
                }
            ];

            $scope.runemap3 = [
                {
                    name: "t", name0: "T", display: "Тейваз (t)",
                    res: "j q i", res0: "j d n"
                },
                {
                    name: "b", name0: "B", display: "Беркана (b)",
                    res: "j q s y n", res0: "j i s y d"
                },
                {
                    name: "e", name0: "E", display: "Эваз (e)",
                    res: "g h q i j", res0: "g h d n j"
                },
                {
                    name: "m", name0: "M", display: "Маназ (m)",
                    res: "g h q i", res0: "g h d n"
                },
                {
                    name: "l", name0: "L", display: "Лагуз (l)",
                    res: "g q", res0: "h d"
                },
                {
                    name: "q", name0: "q", display: "Ингуз (q)",
                    res: "q s d i y n", res0: "q s d i y n", isSuper: "true"
                },
                {
                    name: "d", name0: "d", display: "Дагаз (d)",
                    res: "g h y s", res0: "g h y s", isSuper: "true"
                },
                {
                    name: "o", name0: "O", display: "Отал (o)",
                    res: "n y d s", res0: "q s i y"
                }
            ];

            $scope.textStyle = function (value) {
                if (value) {
                    return {
                        "color": "blue"
                    }
                }
            };

            $scope.getDestRunes = function (array, value) {

                var fLen, i, res;
                fLen = array.length;
                res = "";
                for (i = 0; i < fLen; i++) {
                    if (array[i].name == value) {
                        res = array[i].res;
                    } else if (array[i].name0 == value) {
                        res = array[i].res0;
                    }
                }
                return res;
            };

            $scope.setDestRunes = function (value) {

                var res;
                res = $scope.getDestRunes($scope.runemap1, value);
                if (!res.length) {
                    res = $scope.getDestRunes($scope.runemap2, value);
                    if (!res.length) {
                        res = $scope.getDestRunes($scope.runemap3, value);
                    }
                }

                $scope.sourceRune = value;
                $scope.destRunes = res;

                $scope.drawGrid();
                $scope.drawRune(res);
            };

            $scope.drawRune = function (value) {

                var i;
                ctx.clearRect(0, 0, 400, 200);
                ctx.beginPath();
                ctx.strokeStyle = "red";
                ctx.lineWidth = 4; // толщина линии

                for (i = 0; i < value.length; i++) {
                    if (value[i] != "") {
                        $scope.drawRuneLine(value[i]);
                    }
                }
            };

            $scope.drawRuneLine = function (value) {

                if (value == "g") {
                    ctx.moveTo(0, 2); //передвигаем перо
                    ctx.lineTo(300, 2); // Гебо
                    ctx.stroke();
                } else if (value == "j") {
                    ctx.moveTo(0, 100); //передвигаем перо
                    ctx.lineTo(300, 100); // Джера
                    ctx.stroke();
                } else if (value == "h") {
                    ctx.moveTo(0, 198); //передвигаем перо
                    ctx.lineTo(300, 198); // Хагаль
                    ctx.stroke();
                } else if (value == "n") {
                    ctx.moveTo(0, 0); //передвигаем перо
                    ctx.lineTo(100, 200); // Наутиз
                    ctx.stroke();
                } else if (value == "y") {
                    ctx.moveTo(0, 0); //передвигаем перо
                    ctx.moveTo(100, 200); // передвигаем перо
                    ctx.lineTo(200, 0); // Эйваз
                    ctx.stroke();
                } else if (value == "i") {
                    ctx.moveTo(200, 0); //передвигаем перо
                    ctx.lineTo(300, 200); // Иса
                    ctx.stroke();
                } else if (value == "d") {
                    ctx.moveTo(0, 200); //передвигаем перо
                    ctx.lineTo(100, 0); // Дагаз 
                    ctx.stroke();
                } else if (value == "s") {
                    ctx.moveTo(100, 0); //передвигаем перо
                    ctx.lineTo(200, 200); // Сол
                    ctx.stroke();
                } else if (value == "q") {
                    ctx.moveTo(200, 200); //передвигаем перо
                    ctx.lineTo(300, 0); // Ингуз
                    ctx.stroke();
                }

            };

        });
    </script>


    <style type="text/css">
        .runefont {
            font-family: 'elder_futharkregular';
        }

        .runefont_Big {
            font-family: 'elder_futharkregular';
            font-size: xx-large;
        }

        .row {
            margin-top: 30px;
        }

        .destRune {
            color: blue;
        }

        #cnvs {
            width: 400px;
            height: 200px;
            background: url(setka.png);
        }
    </style>

</body>

</html>